# application base configuration
app:

  # the exitB logmod mobile application url
  url: 'https://your-log-mod-mobile-application-url'

  # the check for update interval (in seconds)
  autoUpdateCheckInterval: 600

  # the websocket heartbeat interval (in seconds)
  heartbeatInterval: 15

  # if you want to use gsPrint instead of SumatraPDF
  gsPrintExecutable: ''

  # this is not recommended, but possible
  username: ''
  password: ''

# configuration for hardware scales connected by RS232
scale:
  # scale type, (DEBUG, PLC6000)
  type: 'DEBUG'

  # path to serial device
  path: '/dev/ttyUSB0'

  # serial device baud rate
  baud: 9600

  # scale execution command for debugging
  command: [0x1b, 0x70]

# enables automatic invoice process
invoicing:

  # regular expression to match boxes to watch
  watchBoxes: /.*/

# shipping configuration
shipping:

  DHL2:
    # printer configuration [CONDITIONAL - necessary if shipment provider is configured for direct label printing]
    printing:

      # the shipment label printer for selected shipment type
      # if not configured, the defaultInvoiceSlipPrinter will be used
      # this needs to be the OS printer name
      shipmentLabelPrinter: ''

      # rotate the label before print
      # to use this, you need to have pdfTk installed on your system
      rotate: true

  # shipment type code
  DHL:

    # polling configuration [CONDITIONAL - necessary if shipment provider is configured for polling]
    polling:
      # export configuration
      export:

        # the path to export the file to
        path: '/tmp'

        # the export file pattern - this pattern supports placeholders
        # available placeholders; placeholder has to be wrapped in ${}
        # ${COUNTER} - a simple auto incrementing number, starting at 1 every time the client starts
        # ${INVOICE_NUMBER} - the invoice number for an export file
        pattern: 'Poll-${COUNTER}.csv'

      # import configuration (day-end closing import) [CONDITIONAL - necessary if day-end closing files are available]
      import:

        # the path to import files from
        # we do not use directory polling anymore. we use file system watchers
        path: '/tmp/export'

        # the import file pattern
        pattern: ''

# printer configuration
printing:

  # the default invoice printer
  # if not configured, the OS default printer will be used
  # this needs to be the OS printer name
  defaultInvoiceSlipPrinter: 'DEFAULT-INVOICE-SLIP-PRINTER'

  # the default delivery slip printer
  # if not configured, the defaultInvoiceSlipPrinter will be used
  # this needs to be the OS printer name
  defaultDeliverySlipPrinter: 'DEFAULT-DELIVERY-SLIP-PRINTER'

  # the default return slip printer
  # if not configured, the defaultInvoiceSlipPrinter will be used
  # this needs to be the OS printer name
  defaultReturnSlipPrinter: 'DEFAULT-RETURN-SLIP-PRINTER'

  # the default shipment label printer
  # if not configured, the defaultInvoiceSlipPrinter will be used
  # this needs to be the OS printer name
  defaultShipmentLabelPrinter: 'DEFAULT-SHIPMENT-LABEL-PRINTER'

  # the default product label printer
  # if not configured, the defaultInvoiceSlipPrinter will be used
  # this needs to be the OS printer name
  defaultProductLabelPrinter: 'DEFAULT-PRODUCT-LABEL-PRINTER'

  # if configured, the received product label will be rotated before print
  # to use this, you need to have pdfTk installed on your system
  rotateProductLabel: true

  # the number of invoice copies to print for invoices shipped to client country (CC)
  defaultInvoiceSlipPrintCountCC: 1

  # the number of invoice copies to print for invoices shipped to countries in european union (EU)
  defaultInvoiceSlipPrintCountEU: 1

  # the number of invoice copies to print for invoices shipped to third countries (TC)
  defaultInvoiceSlipPrintCountTC: 3

  # additional configuration based on advertising medium codes
  advertisingMediumConfig:

    # advertising medium code
    EXB:

      # invoice slip printer
      # this needs to be the OS printer name
      invoiceSlipPrinter: 'SPECIAL-INVOICE-PRINTER-FOR-EXB'

      # delivery slip printer
      # this needs to be the OS printer name
      deliverySlipPrinter: 'SPECIAL-DELIVERY-SLIP-PRINTER-FOR-EXB'

      # return slip printer
      # this needs to be the OS printer name
      returnSlipPrinter: 'SPECIAL-RETURN-SLIP-PRINTER-FOR-EXB'

      # the number of invoice copies to print for invoices shipped to client country (CC)
      invoiceSlipPrintCountCC: 1

      # the number of invoice copies to print for invoices shipped to countries in european union (EU)
      invoiceSlipPrintCountEU: 1

      # the number of invoice copies to print for invoices shipped to third countries (TC)
      invoiceSlipPrintCountTC: 3

